h1 {

    color: green !important;
}


h1#header-id {
    color: darkcyan;
}

#header-id {
    color: brown;


}

.header.header {
    color: rgb(60, 60, 230);
}


html body h1.header.header
h1 {

    color: green;
    color: red;
}